{% extends "base.html" %}
{% block title %}
Главная старница
{% endblock title %}
{% block content %}
{% include "includes/switcher.html" %}

<form method="post" action={% url "pril:poison" %}>
{% csrf_token %}
<section>
    <table class="table">
        <thead>
            <tr>
                <th>Наименование товара</th>
                <th>Количество</th>
                <th>Сдохло</th>
            </tr>
        </thead>
        <tbody>
            {% for prod in products %}
            <tr>
                <td>{{ prod.name }}</td>
                <td>{{prod.amount}}</td>
                <td>{{ prod.date_snat|date:"d E Y "}}</td>
                <td><input class="form-check-input" type="checkbox" name="prod[]" value="{{prod.id}}"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit" class="btn btn-danger">Удалить</button>
</form>
</section>

{% endblock %}