{% extends "base.html" %}
{% block title %}
Главная старница
{% endblock title %}
{% block content %}

<form method="post" action={% url "pril:index" %}>
    {% csrf_token %}
<section>
    <table class="table">
        <thead>
            <tr>
                <th>Наименование товара</th>
                <th>Количество</th>
                <th>До какого числа</th>
            </tr>
        </thead>
        <tbody>
            {% for instanse in poison %}
            <tr <tr class="table-danger">>
                <td>{{ instanse.name }}</td>
                <td>{{instanse.amount}}</td>
                <td>{{ instanse.date_snat|date:"d E Y "}}</td>
                <td><input class="form-check-input" type="checkbox" name="prod[]" value="{{instanse.id}}"></td>
            </tr>
            {% endfor %}
            {% for instanse in prod_30 %}
            <tr class="table-warning">
                <td>{{ instanse.fields.name }}</td>
                <td>{{instanse.fields.amount}}</td>
                <td>{{ instanse.fields.date_snat|date:"d E Y "}}</td>
            </tr>
            {% endfor %}
            {% for instanse in fresh %}
            <tr>
                <td>{{ instanse.fields.name }}</td>
                <td>{{instanse.fields.amount}}</td>
                <td>{{ instanse.fields.date_snat|date:"d E Y "}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit" class="btn btn-danger">Удалить</button>
</form>
</section>
{% endblock %}