{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% block title %}
Planogram
{% endblock title %}
{% block content %}
<figure>
    {% thumbnail planogram.image "1200x600" crop="center" upscale=True as im %}
    <img src="{{ im.url }}" class="img-fluid" alt="Планограмма на какое-то число">
    {% endthumbnail %}
    <figcaption>
        Актуальная Планограмма на {{ planogram.date_add|date:"d E Y "}}
    </figcaption>
</figure>
<section class="d-flex justify-content-center">
    <p><a class="icon-link" href="{% url 'pril:planogram_edit' %}">Add new<svg class="bi"
                    aria-hidden="true">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </a></p>
</section>
{% endblock content %}