{% extends "base.html" %}
{% block title %}

{% endblock title %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <h1 class="text-center">Пожалуйста войдите в свою учетную запись</h1>

    {% for field in form %} 
    <div class="form-group row my-3">
      <label for="{{ field.id_for_label }}">
        {{ field.label }}
          {% if field.field.required %}
            <span class="required text-danger">*</span>
          {% endif %}
      </label>
      {{ field }} 
        {% if field.help_text %}
          <small 
             id="{{ field.id_for_label }}-help"
             class="form-text text-muted"
          >
            {{ field.help_text|safe }}
          </small>
        {% endif %}
    </div>
    {% endfor %}
    <button class="btn btn-primary w-100 py-2" type="submit">Войти</button>
</form>
</main>
{% endblock content %}